body {
    margin: 0;
    padding: 0;
    background: #001b33;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
    touch-action: none;
}


h1 {
    margin: 10px;
}


canvas {
    background: #0077aa;
    display: block;
    margin: auto;
    border: 3px solid white;

    width: 95vw;
    max-width: 500px;
    height: auto;
}


#select {

    margin: 10px;

}


#select button {

    font-size: 20px;
    padding: 10px;
    margin: 5px;

    border-radius: 10px;
    border: none;

    background: #444;
    color: white;

}


#controls {

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    margin-top: 10px;

}


#controls button {

    width: 80px;
    height: 70px;

    font-size: 35px;

    border-radius: 15px;

    border: 2px solid white;

    background: #333;

    color: white;

}


#controls button:active {

    background: #777;

}


#info {

    font-size: 20px;

}
