body{

margin:0;
background:#003b5c;
color:white;
text-align:center;
font-family:sans-serif;
overflow:hidden;

}


canvas{

background:#0088aa;

display:block;

margin:auto;

width:95vw;
max-width:500px;

border:2px solid white;

}


button{

font-size:25px;

padding:10px;

margin:5px;

border-radius:15px;

}


#controls{

position:fixed;

bottom:20px;

left:0;

right:0;

display:flex;

justify-content:center;

gap:15px;

}


#select{

margin:10px;

}
