body{

    margin:0;
    padding:0;

    background:#001f3f;

    color:white;

    text-align:center;

    font-family:sans-serif;

    overflow:hidden;

    touch-action:none;

}



#title{

    margin-top:60px;

}



#title h1{

    font-size:40px;

}



button{

    font-size:22px;

    padding:12px 20px;

    margin:8px;

    border-radius:15px;

    border:none;

    background:#333;

    color:white;

}



button:active{

    background:#777;

}



#startButton{

    background:#0066cc;

    font-size:30px;

    margin-top:25px;

}



#shipInfo{

    font-size:20px;

}



canvas{

    display:none;

    margin:auto;

    background:#0077aa;

    border:3px solid white;

    width:95vw;

    max-width:500px;

    height:auto;

}



#controls{

    position:fixed;

    bottom:20px;

    left:0;

    right:0;


    display:none;


    justify-content:center;

    gap:15px;

}



#controls button{

    width:75px;

    height:70px;

    font-size:35px;

    border-radius:20px;

}



#status{

    display:none;

    font-size:20px;

}
